:root {
    --box-size: 90px;
    text-align: center;
    --background-color: #0f0e0e;
    --primary-color: #726c6c;
    --text-color: #fff;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    --border-radius: 9px;
}

* {
    box-sizing: border-box;
}


body {
    background-color: var(--background-color);
    color: var(--text-color);
    margin: 0px;
}

button,
input {
    background-color: var(--primary-color);
    color: var(--text-color);
    font-weight: 700;
    font-size: 16px;
    border-radius: var(--border-radius);
}

.game {
    grid-area: game;
}

.chat {
    grid-area: chat;
}

.app {
    display: grid;
    grid-template-areas:
        "nav nav nav nav nav nav nav"
        "a a game game game c b"
        "a a game game game c b"
        "a a game game game chat b";
}

.cell {
    display: inherit;
    width: var(--box-size);
    height: var(--box-size);
    border-style: solid;
    border-width: 1px;
    border-color: var(--background-color);
    background-color: var(--primary-color);
    justify-content: center;
    align-items: center;
    grid-area: cell;
}

.dice-section {
    display: flex;
    margin: 5px;
    justify-content: center;
    align-items: center;
}

.row {
    display: flex;
    margin: auto;
}

.board {
    text-align: center;
    display: flex;
    flex-direction: column;
}

img {
    max-width: var(--box-size);
    max-height: var(--box-size);
}

.msg-container {
    width: 250px;
    height: 250px;
    overflow: scroll;
    margin: auto;
    text-align: right;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    background-color: var(--primary-color);
    border-radius: var(--border-radius);
}

.chat-msg {
    margin: 2px;
    border-radius: var(--border-radius);
    padding: 6px;
    width: fit-content;
    min-width: 30px;
}

.chat-you {
    background-color: #143c94;
    text-align: right;
    float: right;
}

.chat-other {
    background-color: #343f31;
    text-align: left;
    float: left;
}

.boardCell {
    display: grid;
    grid-template-areas:
        "nobles cell cell"
    ;

}

.nobles {
    grid-area: nobles;
    width: 1rem;
    background-color: #282727;
}

.nav {
    grid-area: nav;
    min-width: 15%;
    margin-bottom: 10px;
    font-weight: bolder;
    padding: 10px;
    font-size: 35px;
    background-color: #282727;
    text-align: initial;
}